.app__header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0 25px 0;
  margin: 0 0 25px 0;
}


.app__footer {
  background-color: black;
}

.app__footer > img {
  width: 96px;
}

.app__footer > p {
  color: white;
  font-size: 12px;
  padding: 5px 0;  
}